<h1><%= t(".title") %></h1>

<table>
  <tr>
    <th><%= Reciept.human_attribute_name('name') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reciepts.each do |reciept| %>
  <tr>
    <td><%= reciept.name %></td>
    <td><%= link_to t('.show'), reciept %></td>
    <td><%= link_to t('.edit'), edit_reciept_path(reciept) %></td>
    <td><%= link_to t('.destroy'), reciept, confirm: t('.confirm'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new'), new_reciept_path %>
