<div class="content">
  <div class="inner">
    <% @contents_by_group.keys.each do |group| %>
    <div style="page-break-inside: avoid; page-break-after:always;">
    <div style="float:right"><h3><%= @box.name %> <%= l(@box.start_time) %></h3>
    <p style="text-align:right">Stand: <%= l(@last_updated_by_group[group]) if @last_updated_by_group[group] != nil %></p>
    </div>
    <h2><%= group.name %></h2>
    <p>Diese Kiste enthält:</p>
    <ul>
      <% @meals_by_group[group].each do |meal| %>
        <li><%= meal.receipt_name %> für <%= meal.participants_count %> Personen</li>
      <% end %>
    </ul>
    <h3>Zutaten</h3>
    <table>
      <thead>
        <tr>
          <th>Menge</th><th>Produkt</th><th style="width: 6em;">eingepackt</th><th style="width: 6em;">kontrolliert</th><th style="width: 4em;">zu wenig</th><th style="width: 4em;">richtig</th><th style="width: 4em;">zu viel</th>
        </tr>
      </thead>
      <% @contents_by_group[group].each do |content| %>
      <tr>
        <td><%= content.human_readable_quantity %></td>
        <td><%= content.product.name %></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <% end %>
    </table>
    <% if @next_box != nil %>
    <h3>Nachbestellung Grundkiste</h2>
    <table>
      <thead>
        <tr>
          <th style="width: 6em;">Menge</th><th>Produkt</th>
        </tr>
      </thead>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    </table>
    <p>Bitte kreuzt in der oberen Tabelle an, wie Euch die Zutaten reichen und schreibt in die untere was Euch in der Grundkiste fehlt. Bringt die ausgefüllte Liste bei der nächsten Essensausgabe wieder mit.</p><p>Die nächste Essensausgabe ist am <b><%= l(@next_box.start_time) %> - <%= l(@next_box.end_time, :format => :only_time)%></b> und enhält:</p>
    <ul>
      <% @next_meals_by_group[group].each do |meal| %>
      <li><%= meal.receipt_name %> für <%= meal.participants_count %> Personen</li>
      <% end %>
    </ul>
    <% else %>
    <p>Das war schon die letzte Kiste. Vielen Dank für Euer Feedback und Eure Geduld und bis zum nächsten Landeslager.</p>
    <% end %>
    </div>
    <% end %>     
  </div>
</div>