<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("boxes.plural")}", lists_path  %></li>
      <li class="active"><%= link_to "Produktliste Kisten", products_overview_list_path  %></li>
      <li class=""><%= link_to "Produktliste Gesamt", products_aggregate_list_path  %></li>
    </ul>
  </div>
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All") + " " + t('products.plural') %></h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th>
            <%= t("activerecord.attributes.product.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
          <% @boxes.each do |box| %>
          <th>
            <%= link_to box.name + " (" + l(box.start_time) + ")", groups_box_list_path(box), style: "color: white; font-weight:bold;" %>
         </th>
         <% end %>
        </tr>
        <% @products_quantities.each do |product,boxes| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= product.id %>
          </td>
          <td>
            <%= link_to product.name, product_path(product) %>
          </td>
          <% @boxes.each do |box| %>
          <% quantity = @products_quantities[product][box] %>
          <td>
            <% begin
              quantity_string = ActionController::Base.helpers.number_to_human(quantity, :units => "units.#{product.unit}", :precision => 3)
            rescue I18n::MissingTranslationData
              quantity_string = ActionController::Base.helpers.number_to_human(quantity, :units => {unit: product.unit}, :precision => 3)
            end %>
            <%= link_to quantity_string, groups_box_product_list_path(box, product) if quantity_string != nil %>
          </td>
          <% end %>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>