<%= simple_nested_form_for box do |f| %>
  <%= f.input :name %>
  <%= f.input :start_time, label: "Abholung von", minute_step: 15, discard_year: true %>
  <%= f.input :end_time, label: "bis", minute_step: 15, discard_year: true %>
  <%= f.association :meals, :collection => Meal.order(:time), :label_method => lambda { |meal| "#{meal.name}  (#{l(meal.time)})" }, :input_html => {:size => 15} %>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), groups_path, :class => "text_button_padding link_button" %>
</div>
<% end %>