<h1>Listing ingredients</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Receipt</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.quantity %></td>
    <td><%= ingredient.receipt_id %></td>
    <td><%= ingredient.product_id %></td>
    <td><%= link_to 'Show', ingredient %></td>
    <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
    <td><%= link_to 'Destroy', ingredient, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingredient', new_ingredient_path %>
