<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", specials_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_special_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> <%= t("specials.plural")%></h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("groups.singular") %>
          </th>
          <th>
            <%= t("boxes.singular") %>
          </th>
          <th>
            <%= t("products.singular") %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @specials.each do |special| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= special.id %>
          </td>
          <td>
            <%= link_to special.group.name, special_path(special) %>
          </td>
          <td>
            <%= link_to special.box.name_with_date, special_path(special) %>
          </td>
          <td>
            <%= link_to special.human_readable_quantity + " " + special.product.name, special_path(special) %>
          </td>
          <td>
            <%= l(special.created_at) %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", special_path(special) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_special_path(special) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", special_path(special), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
