<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", products_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_product_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All") + " " + t('products.plural') %></h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th>
            <%= t("activerecord.attributes.product.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
          <th>
            <%= t("activerecord.attributes.product.unit", :default => t("activerecord.labels.unit", :default => "Unit")) %>
         </th>
         <th>
            <%= t("activerecord.attributes.product.rounding_amount", :default => t("activerecord.labels.rounding_amount", :default => "Rounding Amount")) %>
         </th>
         <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @products.each do |product| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= product.id %>
          </td>
          <td>
            <%= link_to product.name, product_path(product) %>
          </td>
          <td>
            <%= product.unit %>
          </td>
          <td>
            <% if product.rounding_amount != nil %>
            <%= product.rounding_amount %> <%= product.unit %>
            <% end %>
          </td>
          <td>
            <%= l(product.created_at) %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", product_path(product) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_product_path(product) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", product_path(product), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
