<!DOCTYPE html>
<html>
  <head>
    <title>FoodPacker <%= content_for?(:title) ? "- " + yield(:title) : "" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
		<% if logged_in? %>
		  <%= t('users.messages.welcome', :user => current_user.username) %>
		  <%= link_to t('users.actions.edit'), edit_current_user_path %> or
		  <%= link_to t('users.actions.logout'), logout_path %>
		<% end %>
	</div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
